<footer>
  <ul class="footer__container">
    <li class="footer-item footer-item1">
      <a href="">اتصل بنا</a>
    </li>
    <li class="footer-item footer-item2">
      <a href="">عن الموقع</a>
    </li>
    <li class="footer-item footer-item3">
      <a href="/">الرئيسيه</a>
    </li>
  </ul>
  <p class="footer__rights">All Rights Reserved For &rAarr; Easy Diet</p>
</footer>
<script src="/js/navbar.js"></script>
