<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <%-include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/register.css" />
    <title>تم التسجيل</title>
  </head>
  <body>
    <%-include('../includes/nav.ejs')%>
    <section class="result_container">
      <div class="message_container">
        <h1>نجحت</h1>
        <p class="message_body">
          لقد قمت بتسجيل بياناتك بنجاح سوف يتم التواصل معك فى اقرب وقت ممكن
          نشكرك على ثقتك بنا
        </p>
      </div>
    </section>
    <%-include('../includes/end.ejs')%>
  </body>
</html>
